/* IoskeleyMono — 内置等宽字体 (SIL Open Font License) */
/* 来源: https://github.com/ahatem/IoskeleyMono */

@font-face {
  font-family: 'IoskeleyMono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./IoskeleyMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'IoskeleyMono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./IoskeleyMono-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'IoskeleyMono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./IoskeleyMono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'IoskeleyMono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('./IoskeleyMono-BoldItalic.woff2') format('woff2');
}
